<!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <nav
          class="navbar navbar-expand-lg  blur border-radius-xl mt-4 top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid px-0">
          <a class="navbar-brand font-weight-bolder ms-sm-3" href="/" rel="tooltip"
             data-placement="bottom">
            <img src="{{ ASSETS_ROOT }}/img/logos/gray-logos/homepage.png" alt="Homepage Image"
                 style="max-height: 25px; opacity: 0.65;">
          </a>
          <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                  aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
          </button>
          <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">
              <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuPages"
                   data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="material-icons opacity-6 me-2 text-md">dashboard</i>
                  Pages
                  <img src="{{ ASSETS_ROOT }}/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-auto ms-md-2">
                </a>
                <div class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-xl mt-0 mt-lg-3"
                     aria-labelledby="dropdownMenuPages">
                  <div class="d-none d-lg-block">
                    <h6 class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
                      Main navigation
                    </h6>
                    <a href="{% url 'kitchen:index' %}" class="dropdown-item border-radius-md">
                      <span>Home</span>
                    </a>
                    <hr>
                    <a href="{% url 'kitchen:cook-list' %}" class="dropdown-item border-radius-md">
                      <span>All Cooks</span>
                    </a>
                    <a href="{% url 'kitchen:dish-list' %}" class="dropdown-item border-radius-md">
                      <span>All Dishes</span>
                    </a>
                    <a href="{% url 'kitchen:dish-type-list' %}" class="dropdown-item border-radius-md">
                      <span>All Dish Types</span>
                    </a>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuDocs"
                   data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="material-icons opacity-6 me-2 text-md">article</i>
                  Info
                  <img src="{{ ASSETS_ROOT }}/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-auto ms-md-2">
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-animation dropdown-md dropdown-md-responsive mt-0 mt-lg-3 p-3 border-radius-lg"
                    aria-labelledby="dropdownMenuDocs">
                  <div class="d-none d-lg-block">
                    <ul class="list-group">
                      <li class="nav-item list-group-item border-0 p-0">
                        <a class="dropdown-item py-2 ps-3 border-radius-md"
                           href="mailto:dmytro@yefimenko.uk">
                          <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                            Contact</h6>
                          <span class="text-sm">You can contact me via email</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </ul>
              </li>
              {% if request.user.is_authenticated %}

                <li class="nav-item dropdown dropdown-hover mx-2">
                  <a class="nav-link ps-2 d-flex cursor-pointer align-items-center font-weight-bold"
                     id="dropdownMenuDocs"
                     data-bs-toggle="dropdown" aria-expanded="false">
                    User: {{ user.get_username }}
                    <img src="{{ ASSETS_ROOT }}/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-auto ms-md-2">
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-animation dropdown-md dropdown-md-responsive mt-0 mt-lg-3 p-3 border-radius-lg"
                      aria-labelledby="dropdownMenuDocs">
                    <div class="d-none d-lg-block">
                      <ul class="list-group">
                        <li class="nav-item list-group-item border-0 p-0">
                          <a class="dropdown-item py-2 ps-3 border-radius-md" target="_blank"
                             href="{{ user.get_absolute_url }}">
                            <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                              Account</h6>
                            <span class="text-sm">Your personal info</span>
                          </a>
                        </li>
                        <hr>
                        <form id="logout-form" action="{% url 'logout' %}" method="post">
                          {% csrf_token %}
                          <li class="nav-item list-group-item border-0 p-0">
                            <button type="submit" class="dropdown-item py-2 ps-3 border-radius-md">
                              <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-start align-items-center p-0">
                                Log Out <i class="fa fa-sign-out ms-1"></i>
                              </h6>
                            </button>
                          </li>
                        </form>
                      </ul>
                    </div>
                  </ul>
                </li>

              {% else %}

                <form id="login-form" action="{% url 'login' %}" method="post">
                  {% csrf_token %}
                    <button type="submit" class="dropdown-item py-2 ps-3 border-radius-md btn-primary">
                      <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-start align-items-center p-0">
                        Log In <i class="fa fa-sign-in ms-1"></i>
                      </h6>
                    </button>
                </form>

              {% endif %}

            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>