{% extends "base.html" %}

{% block content %}
  <h1>Cafe Kitchen Service</h1>
  <p>Welcome to Best Kithen Ever!</p>
  <h2>Dynamic content</h2>
  <p>The Cafe Kitchen Service has the following record counts:</p>
  <ul>
    <li><strong>Cooks:</strong> {{ num_cooks }}</li>
    <li><strong>Dishes:</strong> {{ num_dishes }}</li>
    <li><strong>Dish Types:</strong> {{ num_dish_types }}</li>
  </ul>

  <p>You have visited this page
    {{ num_visits }} time{{ num_visits|pluralize }}.
  </p>

{% endblock %}
